<mat-toolbar>
  Tech Store Admin
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav mode="side" opened>

    <mat-nav-list>

      <a mat-list-item>
        Dashboard
      </a>

      <a mat-list-item>
        Products
      </a>

      <a mat-list-item>
        Categories
      </a>

      <a mat-list-item>
        Invoices
      </a>

      <a mat-list-item>
        Users
      </a>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <div style="padding:20px">
      Welcome Admin
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
